<h2>Task List</h2>

<div>
  <a href="create-task" class="btn btn-primary">Create Task</a>
</div>

<table class="table table-hover task-list">
  <thead>
    <tr class="table-dark">
      <th scope="col">Task</th>
      <th scope="col">Created</th>
      <th scope="col">Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let task of taskList" [class]="taskClass(task)">
      <td (click)="showBuilds(task)" class="cimple-clickable">{{ task.name }}</td>
      <td (click)="showBuilds(task)" class="cimple-clickable">{{ task.created | date:"dd/MM/yy hh:mm" }}</td>
      <td>
        <a class="action" (click)="editTask(task)" title="edit">✎</a>
        <a class="action" (click)="triggerTask(task.id)" title="run">▶</a>
        <a class="action" (click)="showBuilds(task)" title="builds">🚜</a>
        <a class="action" (click)="deleteTask(task)" title="remove">🗑️</a>
      </td>
    </tr>
  </tbody>
</table>

